include README.rst
include ADMIN.txt
include ngpy.cfg
include ngpy.wsgi
include httpd.conf.sample
include run-ngpy simd
include ngpy/ngrc.ini
recursive-include tools *
recursive-include tests *
recursive-exclude tools *.pyc
recursive-exclude tools *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
recursive-include ngpy/templates *
recursive-include ngpy/static *

