{% extends "layout.html" %}
{% from "_parameters.html" import render_parameters %}
{% block title %}Browse a Simulation{% endblock %}
{% block ajax %}
<script type=text/javascript>
    $(function() {
        var frame_max = $('#framemax').val();
        function render(frame_id){
            $.getJSON($SCRIPT_ROOT+'/_browsefeed',{
                    simid:$('#simid').val(),
                    frame:frame_id //$('#selectframe').val()
                    }, 
                    function(data){
                        $('#liveimg').attr("src",data.imgsrc);
                        $('#curframe').text("Current frame: "+data.frame);
                    });
        }
        var sliderframe = $('#sliderframe').slider({
            min:0,
            max:frame_max,
            change:function(event,ui){ 
                render(ui.value); 
            }
        });
        var spinner = $('#selectframe').spinner({
            spin:function(event,ui){
                var fid = ui.value;
                if(fid>frame_max){
                    $(this).spinner("value",0);
                    return false;
                }
                else if(fid<0){
                    $(this).spinner("value",frame_max);
                    return false;
                }
            },
            // ui.value didn't work for change
            change:function(event,ui){
                sliderframe.slider("value",$(this).val());
            },
            stop:function(event,ui){
                sliderframe.slider("value",$(this).val());
            }
        });
        function psd(){
            var frame_id = sliderframe.slider("value");
            $.getJSON($SCRIPT_ROOT+'/_psdfeed',{
                    simid:$('#simid').val(),
                    frame:frame_id,
                    psdtype:'number'
                    }, 
                    function(data){
                        $('#curpsdimg').attr("src",data.imgsrc);
                    });
        }
        function vol(){
            var frame_id = sliderframe.slider("value");
            $.getJSON($SCRIPT_ROOT+'/_volfeed',{
                    simid:$('#simid').val(),
                    frame:frame_id,
                    }, 
                    function(data){
                        $('#curvolres').text('Volume of metastable phase: '+data.volm+' stable phase: '+data.vols+ ' total:'+data.volt);
                    });
        }
        function nuc(){
            var frame_id = sliderframe.slider("value");
            $.getJSON($SCRIPT_ROOT+'/_nucfeed',{
                    simid:$('#simid').val(),
                    frame:frame_id,
                    }, 
                    function(data){
                        $('#curnres').text('Number of nucleation events: '+data.n);
                    });
        }
        $('#curpsd').button();
        $('#curpsd').click(function(){
            psd();
        });
        $('#curvol').button();
        $('#curvol').click(function(){
            vol();
        });
        $('#curn').button();
        $('#curn').click(function(){
            nuc();
        });
        $('#curall').button();
        $('#curall').click(function(){
            psd();
            vol();
            nuc();
        });
        $.ajaxSetup( {cache:false} );
    });
</script>
{% endblock %}
{% block body %}
  <h2>Browse a Simulation</h2>
  <h3>Simulation {{ sim_id }}</h3>
  <form id="browse">
    <input id=simid type=hidden value={{ sim_id }} />
    <input id=framemax type=hidden value={{ frame_max }} />
  </form>
  <span>Select a frame to show </span>
  <input id="selectframe" name="value" />
  <div><p></p></div>
  <div id="sliderframe"></div>
  <div><p></p></div>
  <div id="curframe"></div>
  <img id="liveimg" src="" alt="loading..." /> 
  <h3>Analyze Current Frame</h3>
  <img id="curpsdimg" src="" alt="PSD image to be calculated..." /> 
  <div id="curvolres">Volume of metastable phase: stable phase: total: </div>
  <div id="curnres">Number of nucleation events: </div>
  <button id="curall">Calculate All</button>
  <button id="curpsd">PSD</button>
  <button id="curvol">Volume</button>
  <button id="curn">Nucleation Events</button>
  <h3>Analyze the Simulation</h3>
  {{ render_parameters(params) }}
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
{% endblock %}
