{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Create a Simulation{% endblock %}
{% block ajax %}
<script type=text/javascript>
    $.ajaxSetup({
        beforeSend: function(xhr,settings){
            if(!(/^http:.*/.test(settings.url) || /^http:.*/.test(settings.url))){
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken",
                                 $("#csrfmiddlewaretoken").val());
            }
        }
    });
    $(function() {
        $('#mode').change(function(){
            if(this.checked){
                $('#batch').attr('style','display:block');
                var min = $('#'+$('#batchvar').val()).val();
                $('#batchmin').val(min);
            }else{
                $('#batch').attr('style','display:none');
            }
        }).trigger('change') // Trigger the event when load or reload
        $('#batchvar').change(function(){
            var min = $('#'+$(this).val()).val();
            $('#batchmin').val(min);
        })
        $('#param input:text').bind('keyup change',function(){
            if($('#mode:checked').length){
                var min = $('#'+$('#batchvar').val()).val();
                $('#batchmin').val(min);
            }
        })
        $('#lx').bind('keyup change',function(){
            $('#ly').val($(this).val());
            var lx = $(this).val();
            var Lx = $('#Lx').val();
            var ly = $('#ly').val();
            var Ly = $('#Ly').val();
            var dx = lx/Lx
            var dy = ly/Ly
            $('#dx').val(dx)
            $('#dy').val(dy)
            $('#r0_SM').val(dx/2.0)
        });
        $('#Lx').bind('keyup change',function(){
            $('#Ly').val($(this).val());
            var lx = $('#lx').val();
            var Lx = $(this).val();
            var ly = $('#ly').val();
            var Ly = $('#Ly').val();
            var dx = lx/Lx
            var dy = ly/Ly
            $('#dx').val(dx)
            $('#dy').val(dy)
            $('#r0_SM').val(dx/2.0)
        });
        $('#dt').bind('keyup change',function(){
            var dt = $(this).val();
            $('#Nx').val(1.0/dt);
        });
    });
</script>
{% endblock %}
{% block body %}
  <h2>Create a Simulation</h2>
  <form action="" method="POST">
    <dl>
        {{ form.csrf() }}
        {{ render_field(form.mode) }}
        <fieldset id='batch' style='display:none'>
        <legend>Batch Settings</legend>
        {{ render_field(form.batchvar) }}
        {{ render_field(form.batchmin,readonly='readonly') }}
        {{ render_field(form.batchstep) }}
        {{ render_field(form.batchmax) }}
        </fieldset>
        {{ render_field(form.name) }}
        {{ render_field(form.group) }}
        <span>Or you can <a href="{{ url_for('new_group') }}">Create a new group</a></span>
        <fieldset id='param'>
        <legend>Parmeters</legend>
        {{ render_field(form.lx) }}
        {{ render_field(form.ly,readonly='readonly') }}
        {{ render_field(form.Lx) }}
        {{ render_field(form.Ly,readonly='readonly') }}
        {{ render_field(form.dx,readonly='readonly') }}
        {{ render_field(form.dy,readonly='readonly') }}
        {{ render_field(form.dt) }}
        {{ render_field(form.Nx,readonly='readonly') }}
        {{ render_field(form.max_t) }}
        {{ render_field(form.k_MA) }}
        {{ render_field(form.nu_MA) }}
        {{ render_field(form.r0_SM,readonly='readonly') }}
        {{ render_field(form.k_SM) }}
        {{ render_field(form.nu_SM) }}
        {{ render_field(form.n_SM) }}
        {{ render_field(form.r_seed) }}
        {{ render_field(form.r_test) }}
        {{ render_field(form.interval_save) }}
        </fieldset>
    </dl>
    <div class=actions><input type=submit value="Create"></div>
  </form>
{% endblock %}

