<!DOCTYPE HTML> {# HTML5 ; ) #}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Italo Moreira Campelo Maia" />
    
    <title>Http 500 - Server Error</title>
</head>

<body>

<header>
    <nav class="clear">
        <a href="/">MyApplication</a>
    </nav>
</header>
    
<article>
<h1>Server Error</h1>
    There was a internal error withing the server. Please, try again later.
    If the problem persists, contact the administration.
</article>

</body>

</html>
