{% extends "admin/base.html" %}
{% block title %}
 - Listing records for {{ admin_model['name'] }}
{% endblock %}

{% block content %}
<h2>List</h2>
{% if queryset_count %}
<ol>
    {% for obj in queryset %}
    <li><b>{{ obj }}</b> - 
        <a href="{{ url_for('admin.edit', model_name=admin_model['name'], ident=obj.get_pk()) }}">Edit</a> 
        <a href="{{ url_for('admin.remove', model_name=admin_model['name'], ident=obj.get_pk()) }}">Remove</a></li>
    {% endfor %}
</ol>
{% else %}
<span>There were no results for your consult.</span>
{% endif %}
{% endblock %}
