<!doctype html>
<title>{% block title %}Welcome{% endblock %} | NGPy</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>NGPy</h1>
  <div class=navigation>
    <a href="{{ url_for('index') }}">Home</a> |
    <a href="{{ url_for('select_simulation') }}">Simulations</a> |
    <a href="{{ url_for('new_simulation') }}">Create</a> |
    <a href="{{ url_for('issue_edit') }}">Edit</a> |
    <a href="{{ url_for('delete_simulation') }}">Delete</a> |
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class=flashes>
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    NGPy &mdash; A Flask Application by Yi-Xin Liu (liuyxpp@gmail.com)
  </div>
</div>
