<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Welcome{% endblock %} | NGPy</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<script src="//ajax.goolgeapis.com/ajax/libs/jquery/1.6.4/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static',filename='jquery-1.6.4.js') }}">\x3C/script>')</script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block ajax %}{% endblock %}
<div class=page>
  <h1>NGPy</h1>
  <div class=navigation>
    <a href="{{ url_for('index') }}">Home</a> |
    <a href="{{ url_for('new_simulation') }}">Create</a> |
    <a href="{{ url_for('issue_edit') }}">Edit</a> |
    <a href="{{ url_for('delete_simulation') }}">Delete</a> |
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class=flashes>
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    NGPy &mdash; A Monte-Carlo Simulation Online Application by Yi-Xin Liu (liuyxpp@gmail.com)
  </div>
</div>
</body>
</html>
